<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--1. org.zerock.board.mapper.BoardMapper 인터페이스 선언 - src/main/java
	2. root-context.xml mybatis:scan 태그로 기본 패키지 지정
	3. org.zerock.board.mapper.BoardMapper.xml 실행 쿼리 작성 - src/main/resources
-->
<mapper namespace="org.zerock.board.mapper.BoardMapper">

<!-- 게시판 리스트 검색 -->

	<select id="list" resultType="org.zerock.board.vo.BoardVO">
	<!-- <![CDATA[이곳에 있는 것은 mybatis가 처리하지 않고 그대로 넘긴다.]]> -->
	select *
	from (	
		select rownum rnum,no,title,writer,writeDate,hit
		from(
			select no,title,writer,writeDate,hit
			from board
				<include refid="search" />
			order by no desc
		)
	)
	where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 전체 데이터 가져오기 :검색 적용 -->
	
	<select id="getRow" resultType="java.lang.Integer">
	<!-- <![CDATA[이곳에 있는 것은 mybatis가 처리하지 않고 그대로 넘긴다.]]> -->
	select count(*) 
	from board
		<include refid="search" />
	</select>
	
	<!-- 검색에 사용되는 조건 처리문 -->	
	<sql id="search">
  <if test="word !=null and word != ''.toString">
   where ( 2 = 1 <!-- false를 만들어준거 -->
   <!-- 2글자 이상인 경우 : String 취급,
     한 글자인 경우:char 취급 => toString()를 이용해서 문자열로 만듬-->
   <if test="key == 't'.toString()">
    <!-- concat(문자열, 문자열) : 2개만 연결,
      "||" : 문자열 이어 붙이는 연산자 -->
       or title like '%'||#{word}||'%'
   </if>
   <if test="key == 'c'.toString()">
          or content like '%'||#{word}||'%'
   </if>
   <if test="key == 'w'.toString()">
          or writer like '%'||#{word}||'%'
   </if>
   <if test="key == 'tc'.toString()">
          or title like '%'||#{word}||'%'
          or content like '%'||#{word}||'%'
   </if>
   <if test="key == 'tw'.toString()">
          or title like '%'||#{word}||'%'
          or writer like '%'||#{word}||'%'
   </if>
   <if test="key == 'cw'.toString()">
          or content like '%'||#{word}||'%'
          or writer like '%'||#{word}||'%'
   </if>
   <if test="key == 'all'">
          or title like '%'||#{word}||'%'
          or content like '%'||#{word}||'%'
          or writer like '%'||#{word}||'%'
   </if>
   )
  </if>
	</sql>
	
	
	<insert id="write">
	<!-- <![CDATA[이곳에 있는 것은 mybatis가 처리하지 않고 그대로 넘긴다.]]> -->
	<![CDATA[ 
		insert into board(no,title,content,writer,pw)
		values(board_seq.nextval,#{title},#{content},#{writer},#{pw})
		]]>
	</insert>
	
	<select id="view" resultType="org.zerock.board.vo.BoardVO">
	<!-- <![CDATA[이곳에 있는 것은 mybatis가 처리하지 않고 그대로 넘긴다.]]> -->
	<![CDATA[ 
		select no,title,content,writer,writeDate,hit
		from board
		where no = #{no}
		]]>
	</select>
	
	<update id="increase">
	<!-- <![CDATA[이곳에 있는 것은 mybatis가 처리하지 않고 그대로 넘긴다.]]> -->
	<![CDATA[ 
		update board set hit = hit +1
		where no = #{no}
		]]>
	</update>
	
	<update id="update">
	<!-- <![CDATA[이곳에 있는 것은 mybatis가 처리하지 않고 그대로 넘긴다.]]> -->
	<![CDATA[ 
		update board set title = #{title}, content = #{content}, writer = #{writer}
		where no = #{no} and pw = #{pw}
		]]>
	</update>
	
	<delete id="delete">
	<!-- <![CDATA[이곳에 있는 것은 mybatis가 처리하지 않고 그대로 넘긴다.]]> -->
	<![CDATA[ 
		delete from board 
		where no=#{no} and pw=#{pw}
		]]>
	</delete>
</mapper>








